<% @page_title = "Admin Menu" %>

<h2>Admin Menu</h2>
<h3>Logged in as:</h3>

<%= link_to("Manage Subjects", :controller => 'subjects') %><br>
<%= link_to("Manage Pages", :controller => 'pages') %><br>
<%= link_to("Manage Sections", :controller => 'sections') %><br>
<%= link_to("Manage Admin Users", '#') %><br>
<%= link_to("Logout", :action => 'logout') %><br>
