<% @page_title = "| Section" %>

<h1>Show Section</h1>

<%= link_to("Back To List", {:action => 'index'}, :class => 'test') %>
<table>
  <tr>
    <th>Name</th>
    <td><%= @section.name  %> </td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= @section.position %> </td>
  </tr>
  <tr>
    <th>Visible</th>
    <td><%= @section.visible ? 'true' : 'false' %> </td>
  </tr>
  <tr>
    <th>Content </th>
    <td><%= @section.content %></td>
  </tr>
  <tr>
    <th>Created </th>
    <td><%= @section.created_at %></td>
  </tr>
  <tr>
    <th>Updated</th>
    <td><%= @section.updated_at %></td>
  </tr>

</table>
