<% @page_title = "| Subject" %>

<h1>Show Subject</h1>

<%= link_to("Back To List", {:action => 'index'}, :class => 'test') %>
<table>
  <tr>
    <th>Name</th>
    <td><%= @subject.name  %> </td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= @subject.position %> </td>
  </tr>
  <tr>
    <th>Visible</th>
    <td><%= @subject.visible ? 'true' : 'false' %> </td>
  </tr>
  <tr>
    <th>Created </th>
    <td><%= @subject.created_at %></td>
  </tr>
  <tr>
    <th>Updated</th>
    <td><%= @subject.updated_at %></td>
  </tr>

</table>
